// aside {
//   margin: 10px;
//   p {
//     margin: 10px;
//   }
// }

.social {
  img {
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
  }
}

.carosello {
  img {
    height: 180px;
  }
}

.foto-scarpe > img {
  height: 300px;
  object-fit: cover;
}

.text-secondary > svg {
  height: 50px;
  width: 50px;
}

.scelta {
  background-color: beige;
  padding: 10px;
  li {
    margin-right: 30px;
    list-style: none;
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }
}

.transizione {
  width: 530px;
}

.street {
  img {
    cursor: pointer;
  }
}

.scarpe {
  div {
    margin: 15px 15px 0 0;
  }
}
